<a href="https://colab.research.google.com/github/dhitology/pdf/blob/master/001_Sedikit_Tentang_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Muhammad Apriandito Arya Saputra - 2020*


---

# Sedikit Tentang Python

Rekomendasi belajar Python:

## Tipe Data

Penjelasan mengenai tipe data di Python https://www.w3schools.com/python/python_datatypes.asp

In [0]:
# Tipe data String
text = "Hello World"
type(text)

In [0]:
# Tipe data List
angka = [1, 2, 3]
type(angka)

In [0]:
# Tipe Data Numpy Array
import numpy as np

angka_array = np.array(angka)
type(angka_array)

In [0]:
# Tipe Data Pandas Dataframe
import pandas as pd

pandas_df = pd.DataFrame(angka)
type(pandas_df)

**Praktek**

In [0]:
# List didalam list
team = [['Apriandito', 22, 'Wonogiri'], 
        ['Dian', 23, 'Medan' ],
        ['Rosidi', 24, 'Madura'] ]

In [0]:
# Covert list diatas menjadi dataframe dengan nama df_team lalu print

In [0]:
# Cek tipe data team dan df_team menggunakan fungsi type()

## Fungsi

In [0]:
# Membuat fungsi untuk menghitung luas lingkaran
def luaslingkaran(r):
  return 3.14 * r * r

In [0]:
# Memnggunakan fungsi yang sudah dibuat
lingkaran = luaslingkaran(10)
print(lingkaran)

In [0]:
# Mengitung jari-jari lingkaran
r = float(input("Masukkan panjang jari-jari lingkaran: "))
luas = luaslingkaran(r)
print("Luas lingkaran adalah : "+ str(luas))

**Praktek**

In [0]:
# Buatlah fungsi untuk menghitung luas persegi

In [0]:
# Gunakan fungsi yang sudah dibuat

## Loop

### For Loop

In [0]:
# List tahun lahir
tahun_lahir = [1998, 1997, 1996]

In [0]:
# Output yang diharapkan
print(tahun_lahir[0])
print(tahun_lahir[1])
print(tahun_lahir[2])

In [0]:
# For Loop
for i in range(len(tahun_lahir)):
  print(tahun_lahir[i])

**Praktek**

In [0]:
def hitungusia(tahun_lahir):
  return 2020 - tahun_lahir

In [0]:
for tahun in tahun_lahir:
  usia = hitungusia(tahun)
  print(usia)

### While Loop

In [0]:
# While Loop
while ulang < 20:
    print("perulangan ke-" + str(ulang))
    ulang += 1